@model WebMSFactory.ProductListViewModel

@{
    ViewBag.Title = "Search";
}


    
    

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title ">제품 정보</h4>
            <form style="padding-left:700px" action="~/AllProducts/Search">
                <select name="Category">
                    @foreach (var dicList in Model.ComboList)
                    {
                        <option value="@dicList">@dicList</option>
                    }
                </select>
                <input type="text" name="ProductName" />
                <input type='submit' value='검색'>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr role="row">
                            <th class="sorting" rowspan="1" colspan="1" width="100px">순번</th>
                            <th class="sorting" rowspan="1" colspan="1" width="350px">그룹 이름</th>
                            <th class="sorting" rowspan="1" colspan="1" width="400px">제품 이름</th>
                            <th class="sorting" rowspan="1" colspan="1" width="200px">제품 사용 여부</th>
                            <th class="sorting" rowspan="1" colspan="1">상세 보기</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prod in Model.Products)
                        {
                            <tr role="row">
                                <td>@prod.Num</td>
                                <td>@prod.Product_Group_Name</td>
                                <td>@prod.Product_Name</td>
                                <td>@prod.Product_Use</td>
                                <td>
                                    <div>
                                        <a ProductName="@prod.Product_Name" href="/AllProducts/DetailProduct?ProductName=@prod.Product_Name">상세보기</a>
                                    </div>

                                    @*@Html.ActionLink("상세보기", "DetailProducts", "AllProducts",
                                    new
                                    {
                                        ProductName = prod.Product_Name,
                                        //@class = "btn btn-block btn-primary btn-sm"
                                    }
                                    )*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

