@model WebMSFactory.ProductListViewModel
@{
    ViewBag.Title = "제품 관리";

}
@section title
{
    - @ViewBag.Title
}



<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">

            <form style="padding-left:700px" action="~/AllProducts/Search">
                <select name="Category">
                    @foreach (var dicList in Model.ComboList)
                    {
                        <option value="@dicList">@dicList</option>
                    }
                </select>
                <input type="text" name="ProductName" />
                <input type='submit' value='검색'>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                        <tr role="row">
                            <th class="sorting" rowspan="1" colspan="1" col-3 width="100px">순번</th>
                            <th class="sorting" rowspan="1" colspan="1" width="350px">그룹 이름</th>
                            <th class="sorting" rowspan="1" colspan="1" width="400px">제품 이름</th>
                            <th class="sorting" rowspan="1" colspan="1" width="100px">제품 사용 여부</th>
                            <th class="sorting" rowspan="1" colspan="1" width="200px">제품 상세 보기 / BOM</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var prod in Model.Products)
                        {
                            <tr role="row">
                                <td>@prod.Num</td>
                                <td>@prod.Product_Group_Name</td>
                                <td>@prod.Product_Name</td>
                                <td>@prod.Product_Use</td>
                                <td>
                                    @Html.ActionLink("상세보기", "DetailProduct", "AllProducts",
                                    new
                                    {
                                        ProductID = prod.Product_ID
                                    }, new { @class = "btn btn-primary btn-sm" }
                                    )
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

